* {font-family: "Times New Roman"}
html {margin:5%}

p, ol, ul, th, td {font-size: 24px}
table, th, td {border:1px solid; border-collapse:collapse}
th {font-weight:bold}

a:link {color:blue; text-decoration:none}
a:visited {color:blue; text-decoration:none}
a:hover {color:midnightblue; text-decoration:underline}
a:active {color:blue; text-decoration:none}

h6 {font-size:20px; color:darkviolet; text-decoration: underline}
h5 {font-size:20px; color:darkgreen}
h4 {font-size:24px; color:darkslategrey}
h3 {font-size:28px; color:black}
h2 {font-size:36px; color:black}
h1 {font-size:44px; color:black}