* {font-family: "Times New Roman"}
p, ol, ul, th, td {font-size: 24px}

table, th, td {border: 1px solid}
th {font-weight: bold}

a:link {color: dodgerblue; text-decoration: none}
a:visited {color: dodgerblue; text-decoration: none}
a:hover {color: midnightblue; text-decoration: underline}
a:active {color: dodgerblue; text-decoration: none}

h6 {font-size: 24px; color: darkslategrey}
h5 {font-size: 28px; color: darkgreen}
h4 {font-size: 32px; color: darkblue}
h4 {font-size: 36px; color: black }
h3 {font-size: 40px; color: darkgreen}
h2 {font-size: 44px; color: darkblue}
h1 {font-size: 48px; color: black}